/*Переменные*/

$fontSize14: 0.875rem;
$fontSize16: 1rem;


/*Миксины*/

@mixin fontMons($fontSize, $color) {
    font-size: $fontSize;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: $color;
}

@mixin fontRob($fontSize, $color) {
    font-size: $fontSize;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    color: $color;
}

/*Общие стили*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.wrap {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

/*Header*/

.header {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    //background-position: center center;
    background-size: 100% 795px;
    //background-size: 100% 770px;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

    .logo {
        @include fontRob(1.5rem, #ffffff);
    }    


    .ulNav {
        list-style-type: none;
        display: flex;
        padding-left: 0;

        li {
            padding-left: 35px;

            a {
                text-decoration: none;
                @include fontMons($fontSize14, #ffffff);
            }

            a::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #ffffff;
                top: 100%;
                opacity: 0;
                margin-top: 5px;
            }

            a:hover {
                color: #ffffff;
            }

            a:hover::after {
                opacity: 1;
            }
        }
    }
}

.headerCentr {
    box-sizing: content-box;
    width: 51%;
    margin: 0 auto;
    padding-bottom: 260px;
    padding-top: 260px;
    text-align: center;
    

    h2 {
        @include fontRob(3rem, #ffffff);
        text-transform: uppercase;
        line-height: 0.8;
    }

    h4 {
        @include fontMons(1.5rem, #ffffff );
        margin-top: 33px;
        margin-bottom: 50px;
    }

    .get {
        display: block;
        margin: 0 auto;
        text-decoration: none;
        @include fontMons(1rem, #ffffff );
        text-transform: uppercase;
        border: 2px solid #ffffff;
        max-width: 180px;
        padding-top: 18px;
        padding-bottom: 18px;      
    }
}

/*Main*/

.main {
    background-image: url(../images/Body.png);
    background-repeat: no-repeat;
}

.wrap {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.mainCenter {
    box-sizing: content-box;
    width: 43%;
    margin: 100px auto 70px auto;
    text-align: center;

    h3 {
        @include fontMons(1.25rem, #555555);
        text-transform: uppercase;
    }

    div {
        display: inline-block;
        width: 17%;
        height: 3px;
        background-color: #555555;
        margin-top: 30px;
        margin-bottom: 28px;
    }

    h4 {
        @include fontRob(1rem, #555555);
    }

    
}

.mainCards {

    margin-bottom: 200px;

    .cards {
        
        display: flex;
        justify-content: space-between;

        .card {

            box-sizing: content-box;
            width: 31%;
            text-align: center;
            h3, p {
                @include fontMons(0.875rem, #757575);
            }

            h3 {
                padding-top: 30px;
                padding-bottom: 25px;
                text-transform: uppercase;
            }

        }
    }
}

.textes {
    display: flex;
    justify-content: space-between;
    .text {
        box-sizing: content-box;
        width: 48%;
        text-align: left;
        p {
            @include fontMons(0.875rem, #757575); 
        }
    }
}





  